.eventsAndMap {
  display: flex;
  max-width: 80vw;
  height: 100vh;
  overflow: auto;
  padding: 15px;
}

.events {
  margin: 0;
}

.map {
  position: sticky;
  top: 0;
  width: 33vw;
  margin-left: 15px;
}

@media only screen and (max-width: 600px) {
  .eventsAndMap {
    max-width: 100vw;
    flex-direction: column;
  }

  .map {
    margin-left: 0;
  }

  .map > div {
    width: calc(100vw - 30px) !important;
    height: 50vh !important;
  }
}